<div class="settings__header task-list__header  sticky ">
  <div class="task-list__heading ">
      <h1 class="heading-primary">{{heading}}</h1>
      <a href="#" class="task-list__btn-add icon-add"></a>
  </div>
  <div class="logo hidden">
      <img src="/images/Logo.svg" alt="logo" class="logo__item">
  </div>
  <ul class="menu">
      <li class="menu__item">
          <a href="/task-list" class="menu__link icon-list active"></a>
      </li>
      <li class="menu__item">
          <a href="/report" class="menu__link icon-statistics"></a>
      </li>
      <li class="menu__item">
          <a href="/settings" class="menu__link icon-settings"></a>
      </li>
  </ul>
</div>
<section class="first-entrance ">
  <div class="first-entrance__block">
    <a href="#" class="first-entrance__link">
      <img src="/images/tomato_settings.svg" alt="first-entrance" class="first-entrance__img">
    </a>
    <p class="first-entrance__text ">{{text}}</p>
  </div>
</section>
<section class="first-entrance-2 ">
  <div class="first-entrance-2__block">
    <div class="pomodoros__btns first-entrance-2__btns">
      <a href="/task-list" class="btn btn--primary">{{buttons.btnPrimary}}</a> 
      <a href="/settings" class="btn btn--secondary">{{buttons.btnSecondary}}</a> 
    </div>
  </div>
</section>
